@model ProductListViewModel;
@{
    ViewData["Title"] = "List";
}

<h1>Listado Productos</h1>

<button type="button" onclick="alert('hola mundo');">JAVASCRIPT</button>

<div class="row mt-5">
    <div class="col-md-12">


        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Stock
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.Stock
                        </td>
                        <td>
                            <a class="btn btn-danger" onclick="DeleteProduct(@item.Id)"><i class="fa-solid fa-trash"></i></a>
                            <a class="btn btn-success" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id" ><i class="fa-solid fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<div class="row">
    <div class="md-12">
        <a class="btn btn-primary" asp-action="Add" asp-controller="Product">
            Añadir Nuevo
        </a>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">


         

        $(document).ready(function() {
        
            //Pagina ya cargo
             
        });

        
        function DeleteProduct(id) {

            if (!confirm("Esta seguro que desea eliminar el registro?")) return;


            $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteProd","Product")' + '/' + id,
                success: function (data) {
                   alert(data);
                },
                error: function () {
                    alert('Algo salio mal');
                }
            });

        }


    </script>

}